:root {
	--blue-background: #7a83ff;
	--blue-light: #c0dcfd;
	--blue-border: #6f7dff;
	--blue-text: #1b00b6;
	--grey-mid: #333333;
	--grey-light: #505050;
	--font-color: white;
	--font-size: x-large;
}

body {
	font-size: var(--font-size);
	background-color: var(--grey-mid);
	color: var(--font-color);
	margin: 0%;
}

div.header {
	background-color: var(--blue-background);
}

div.body-text {
	margin-top: 1%;
	margin-bottom: 1%;;
	margin-left: 5%;
	margin-right: 5%;
}

a {
	color: var(--font-color);
}

hr {
	height: 2px;
	color: var(--grey-light);
	background: var(--grey-light);
	border-width: 0;
}

table {
	width: 100%;
	table-layout: fixed;
}

h1 {
	margin: 0;
}
h2.indent {
	text-indent: 1%;
}
h3.indent {
	text-indent: 2%;
}
h4.indent {
	text-indent: 3%;
}
h5.indent {
	text-indent: 4%;
}

button.blue-curved {
	background: var(--blue-light);
	color: var(--blue-text);
	border-color: var(--blue-border);
	border-radius: 10px; 
	border-style: solid;
	font-size: var(--font-size);
	text-align: center;
	width: 100%; 
	height: 100%;
	cursor: pointer;
	padding: 2%;
}

img.inline {
	max-height: 700px;
}
